.alert-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.alert {
  font-size: 1.2rem;
  color: var(--jea-color-white);
  padding: var(--jea-padding-s) var(--jea-padding-m);
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeInOut 3s forwards;
}

.alert.success {
  background-color: #4caf50;
}

.alert.error {
  background-color: #f44336;
}

.alert.info {
  color: var(--jea-color-text);
  background-color: #8bcafd;
}

.alert.warning {
  background-color: #c45f00;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}
