#piedra-papel-tijeras {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--jea-margin-xl);
}

#piedra-papel-tijeras > h2 {
  font-size: var(--jea-font-xl);
  margin-bottom: var(--jea-margin-xl);
}
