#piedra-papel-tijeras > .game {
  width: 550px;
  height: 430px;
  border-radius: var(--jea-radius-secundary);
  border: 3px solid var(--jea-color-secundary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--jea-gap-xl);
  transition: all 0.5s ease;
}

#piedra-papel-tijeras > .game.win {
  --flash-color: rgba(144, 238, 144, 0.5);
  animation: flashGame 1s ease-in-out;
}

#piedra-papel-tijeras > .game.lose {
  --flash-color: rgba(255, 99, 71, 0.5);
  animation: flashGame 1s ease-in-out;
}

#piedra-papel-tijeras > .game.draw {
  --flash-color: rgba(116, 116, 116, 0.5);
  animation: flashGame 1s ease-in-out;
}

#piedra-papel-tijeras .game-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 40%;
}

#piedra-papel-tijeras .player {
  position: relative;
  margin: var(--jea-margin-s);
}

#piedra-papel-tijeras .player > h3 {
  position: absolute;
  bottom: 10px;
  right: -60px;
  background-color: var(--jea-color-white);
  padding: var(--jea-padding-s);
  border-top-right-radius: var(--jea-radius-secundary);
  border-bottom-right-radius: var(--jea-radius-secundary);
  padding-left: 50px;
  z-index: -1;
}

#piedra-papel-tijeras .player.robot > h3 {
  top: 0px;
  bottom: 65px;
  right: 45px;
  border-top-left-radius: var(--jea-radius-secundary);
  border-bottom-left-radius: var(--jea-radius-secundary);
  padding-right: 55px;
  padding-left: var(--jea-padding-s);
}

#piedra-papel-tijeras .player div.img-wrapper {
  border-radius: 100%;
  overflow: hidden;
}

#piedra-papel-tijeras .player img {
  background-color: var(--jea-color-white);
  padding: 8px;
}

#piedra-papel-tijeras .player,
#piedra-papel-tijeras .robot {
  z-index: 2;
}

#piedra-papel-tijeras .play > button {
  font-family: "Pixelify Sans", serif;
  font-weight: 600;
  font-size: var(--jea-font-l);
  padding: var(--jea-padding-s);
  border-radius: var(--jea-radius-secundary);
  background-color: var(--jea-color-confirm);

  box-shadow: 0 6px 0 var(--jea-color-tertiary);
  transition: all 0.1s;
}

#piedra-papel-tijeras .play > button:active,
#piedra-papel-tijeras .play > button:disabled {
  transform: translateY(4px);
  box-shadow: 0 2px 0 var(--jea-color-tertiary);
}

#piedra-papel-tijeras .play > button:disabled {
  filter: saturate(0.4);
  cursor: wait;
}

@media (max-width: 750px) {
  #piedra-papel-tijeras > .game {
    width: 330px;
    height: 530px;
    justify-content: space-around;
    margin-bottom: var(--jea-margin-l);
  }
  #piedra-papel-tijeras .game-menu {
    flex-direction: column-reverse;
  }
}

@keyframes flashGame {
  0%,
  100% {
    background-color: transparent;
  }

  50% {
    background-color: var(--flash-color);
  }
}
